<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="autotest.com.bocom.dao.DataProductMapper">
  <resultMap id="BaseResultMap" type="autotest.com.bocom.entity.DataProduct">
    <id column="PRODUCT_ID" jdbcType="INTEGER" property="productId" />
    <result column="BUSINESS_ID" jdbcType="INTEGER" property="businessId" />
    <result column="PRODUCT_NAME" jdbcType="VARCHAR" property="productName" />
    <result column="PRODUCT_DESC" jdbcType="VARCHAR" property="productDesc" />
    <result column="IS_TIMELINESS" jdbcType="CHAR" property="isTimeliness" />
    <result column="THRESHOLD_VALUE" jdbcType="INTEGER" property="thresholdValue" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="CREATOR_ID" jdbcType="INTEGER" property="creatorId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="PHONE_NO" jdbcType="VARCHAR" property="phoneNo" />
    <result column="LEADER" jdbcType="VARCHAR" property="leader" />
    <result column="LEADER_ID" jdbcType="INTEGER" property="leaderId" />
    <result column="RELEASE_TIME" jdbcType="TIMESTAMP" property="releaseTime" />
    <result column="MODIFIER" jdbcType="VARCHAR" property="modifier" />
    <result column="MODIFIER_ID" jdbcType="INTEGER" property="modifierId" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="ATTRIBUTE1" jdbcType="VARCHAR" property="attribute1" />
    <result column="ATTRIBUTE2" jdbcType="VARCHAR" property="attribute2" />
    <result column="ATTRIBUTE3" jdbcType="VARCHAR" property="attribute3" />
    <result column="ATTRIBUTE4" jdbcType="VARCHAR" property="attribute4" />
    <result column="ATTRIBUTE5" jdbcType="VARCHAR" property="attribute5" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    PRODUCT_ID, BUSINESS_ID, PRODUCT_NAME, PRODUCT_DESC, IS_TIMELINESS, THRESHOLD_VALUE, 
    STATUS, CREATOR, CREATOR_ID, CREATE_TIME, PHONE_NO, LEADER, LEADER_ID, RELEASE_TIME, 
    MODIFIER, MODIFIER_ID, MODIFY_TIME, ATTRIBUTE1, ATTRIBUTE2, ATTRIBUTE3, ATTRIBUTE4, 
    ATTRIBUTE5
  </sql>
  <select id="selectByExample" parameterType="autotest.com.bocom.entity.DataProductExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from DATA_PRODUCT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from DATA_PRODUCT
    where PRODUCT_ID = #{productId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from DATA_PRODUCT
    where PRODUCT_ID = #{productId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="autotest.com.bocom.entity.DataProductExample">
    delete from DATA_PRODUCT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="autotest.com.bocom.entity.DataProduct">
    insert into DATA_PRODUCT (PRODUCT_ID, BUSINESS_ID, PRODUCT_NAME, 
      PRODUCT_DESC, IS_TIMELINESS, THRESHOLD_VALUE, 
      STATUS, CREATOR, CREATOR_ID, 
      CREATE_TIME, PHONE_NO, LEADER, 
      LEADER_ID, RELEASE_TIME, MODIFIER, 
      MODIFIER_ID, MODIFY_TIME, ATTRIBUTE1, 
      ATTRIBUTE2, ATTRIBUTE3, ATTRIBUTE4, 
      ATTRIBUTE5)
    values (#{productId,jdbcType=INTEGER}, #{businessId,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, 
      #{productDesc,jdbcType=VARCHAR}, #{isTimeliness,jdbcType=CHAR}, #{thresholdValue,jdbcType=INTEGER}, 
      #{status,jdbcType=CHAR}, #{creator,jdbcType=VARCHAR}, #{creatorId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{phoneNo,jdbcType=VARCHAR}, #{leader,jdbcType=VARCHAR}, 
      #{leaderId,jdbcType=INTEGER}, #{releaseTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, 
      #{modifierId,jdbcType=INTEGER}, #{modifyTime,jdbcType=TIMESTAMP}, #{attribute1,jdbcType=VARCHAR}, 
      #{attribute2,jdbcType=VARCHAR}, #{attribute3,jdbcType=VARCHAR}, #{attribute4,jdbcType=VARCHAR}, 
      #{attribute5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="autotest.com.bocom.entity.DataProduct">
    insert into DATA_PRODUCT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        PRODUCT_ID,
      </if>
      <if test="businessId != null">
        BUSINESS_ID,
      </if>
      <if test="productName != null">
        PRODUCT_NAME,
      </if>
      <if test="productDesc != null">
        PRODUCT_DESC,
      </if>
      <if test="isTimeliness != null">
        IS_TIMELINESS,
      </if>
      <if test="thresholdValue != null">
        THRESHOLD_VALUE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="creatorId != null">
        CREATOR_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="phoneNo != null">
        PHONE_NO,
      </if>
      <if test="leader != null">
        LEADER,
      </if>
      <if test="leaderId != null">
        LEADER_ID,
      </if>
      <if test="releaseTime != null">
        RELEASE_TIME,
      </if>
      <if test="modifier != null">
        MODIFIER,
      </if>
      <if test="modifierId != null">
        MODIFIER_ID,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="attribute1 != null">
        ATTRIBUTE1,
      </if>
      <if test="attribute2 != null">
        ATTRIBUTE2,
      </if>
      <if test="attribute3 != null">
        ATTRIBUTE3,
      </if>
      <if test="attribute4 != null">
        ATTRIBUTE4,
      </if>
      <if test="attribute5 != null">
        ATTRIBUTE5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="businessId != null">
        #{businessId,jdbcType=INTEGER},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productDesc != null">
        #{productDesc,jdbcType=VARCHAR},
      </if>
      <if test="isTimeliness != null">
        #{isTimeliness,jdbcType=CHAR},
      </if>
      <if test="thresholdValue != null">
        #{thresholdValue,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="phoneNo != null">
        #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="leader != null">
        #{leader,jdbcType=VARCHAR},
      </if>
      <if test="leaderId != null">
        #{leaderId,jdbcType=INTEGER},
      </if>
      <if test="releaseTime != null">
        #{releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifierId != null">
        #{modifierId,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="attribute1 != null">
        #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null">
        #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null">
        #{attribute3,jdbcType=VARCHAR},
      </if>
      <if test="attribute4 != null">
        #{attribute4,jdbcType=VARCHAR},
      </if>
      <if test="attribute5 != null">
        #{attribute5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="autotest.com.bocom.entity.DataProductExample" resultType="java.lang.Long">
    select count(*) from DATA_PRODUCT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update DATA_PRODUCT
    <set>
      <if test="record.productId != null">
        PRODUCT_ID = #{record.productId,jdbcType=INTEGER},
      </if>
      <if test="record.businessId != null">
        BUSINESS_ID = #{record.businessId,jdbcType=INTEGER},
      </if>
      <if test="record.productName != null">
        PRODUCT_NAME = #{record.productName,jdbcType=VARCHAR},
      </if>
      <if test="record.productDesc != null">
        PRODUCT_DESC = #{record.productDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.isTimeliness != null">
        IS_TIMELINESS = #{record.isTimeliness,jdbcType=CHAR},
      </if>
      <if test="record.thresholdValue != null">
        THRESHOLD_VALUE = #{record.thresholdValue,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.creator != null">
        CREATOR = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.creatorId != null">
        CREATOR_ID = #{record.creatorId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.phoneNo != null">
        PHONE_NO = #{record.phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="record.leader != null">
        LEADER = #{record.leader,jdbcType=VARCHAR},
      </if>
      <if test="record.leaderId != null">
        LEADER_ID = #{record.leaderId,jdbcType=INTEGER},
      </if>
      <if test="record.releaseTime != null">
        RELEASE_TIME = #{record.releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifier != null">
        MODIFIER = #{record.modifier,jdbcType=VARCHAR},
      </if>
      <if test="record.modifierId != null">
        MODIFIER_ID = #{record.modifierId,jdbcType=INTEGER},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.attribute1 != null">
        ATTRIBUTE1 = #{record.attribute1,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute2 != null">
        ATTRIBUTE2 = #{record.attribute2,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute3 != null">
        ATTRIBUTE3 = #{record.attribute3,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute4 != null">
        ATTRIBUTE4 = #{record.attribute4,jdbcType=VARCHAR},
      </if>
      <if test="record.attribute5 != null">
        ATTRIBUTE5 = #{record.attribute5,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update DATA_PRODUCT
    set PRODUCT_ID = #{record.productId,jdbcType=INTEGER},
      BUSINESS_ID = #{record.businessId,jdbcType=INTEGER},
      PRODUCT_NAME = #{record.productName,jdbcType=VARCHAR},
      PRODUCT_DESC = #{record.productDesc,jdbcType=VARCHAR},
      IS_TIMELINESS = #{record.isTimeliness,jdbcType=CHAR},
      THRESHOLD_VALUE = #{record.thresholdValue,jdbcType=INTEGER},
      STATUS = #{record.status,jdbcType=CHAR},
      CREATOR = #{record.creator,jdbcType=VARCHAR},
      CREATOR_ID = #{record.creatorId,jdbcType=INTEGER},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      PHONE_NO = #{record.phoneNo,jdbcType=VARCHAR},
      LEADER = #{record.leader,jdbcType=VARCHAR},
      LEADER_ID = #{record.leaderId,jdbcType=INTEGER},
      RELEASE_TIME = #{record.releaseTime,jdbcType=TIMESTAMP},
      MODIFIER = #{record.modifier,jdbcType=VARCHAR},
      MODIFIER_ID = #{record.modifierId,jdbcType=INTEGER},
      MODIFY_TIME = #{record.modifyTime,jdbcType=TIMESTAMP},
      ATTRIBUTE1 = #{record.attribute1,jdbcType=VARCHAR},
      ATTRIBUTE2 = #{record.attribute2,jdbcType=VARCHAR},
      ATTRIBUTE3 = #{record.attribute3,jdbcType=VARCHAR},
      ATTRIBUTE4 = #{record.attribute4,jdbcType=VARCHAR},
      ATTRIBUTE5 = #{record.attribute5,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="autotest.com.bocom.entity.DataProduct">
    update DATA_PRODUCT
    <set>
      <if test="businessId != null">
        BUSINESS_ID = #{businessId,jdbcType=INTEGER},
      </if>
      <if test="productName != null">
        PRODUCT_NAME = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productDesc != null">
        PRODUCT_DESC = #{productDesc,jdbcType=VARCHAR},
      </if>
      <if test="isTimeliness != null">
        IS_TIMELINESS = #{isTimeliness,jdbcType=CHAR},
      </if>
      <if test="thresholdValue != null">
        THRESHOLD_VALUE = #{thresholdValue,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="creator != null">
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        CREATOR_ID = #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="phoneNo != null">
        PHONE_NO = #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="leader != null">
        LEADER = #{leader,jdbcType=VARCHAR},
      </if>
      <if test="leaderId != null">
        LEADER_ID = #{leaderId,jdbcType=INTEGER},
      </if>
      <if test="releaseTime != null">
        RELEASE_TIME = #{releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        MODIFIER = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifierId != null">
        MODIFIER_ID = #{modifierId,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="attribute1 != null">
        ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null">
        ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null">
        ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      </if>
      <if test="attribute4 != null">
        ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      </if>
      <if test="attribute5 != null">
        ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR},
      </if>
    </set>
    where PRODUCT_ID = #{productId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="autotest.com.bocom.entity.DataProduct">
    update DATA_PRODUCT
    set BUSINESS_ID = #{businessId,jdbcType=INTEGER},
      PRODUCT_NAME = #{productName,jdbcType=VARCHAR},
      PRODUCT_DESC = #{productDesc,jdbcType=VARCHAR},
      IS_TIMELINESS = #{isTimeliness,jdbcType=CHAR},
      THRESHOLD_VALUE = #{thresholdValue,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=CHAR},
      CREATOR = #{creator,jdbcType=VARCHAR},
      CREATOR_ID = #{creatorId,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      PHONE_NO = #{phoneNo,jdbcType=VARCHAR},
      LEADER = #{leader,jdbcType=VARCHAR},
      LEADER_ID = #{leaderId,jdbcType=INTEGER},
      RELEASE_TIME = #{releaseTime,jdbcType=TIMESTAMP},
      MODIFIER = #{modifier,jdbcType=VARCHAR},
      MODIFIER_ID = #{modifierId,jdbcType=INTEGER},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      ATTRIBUTE1 = #{attribute1,jdbcType=VARCHAR},
      ATTRIBUTE2 = #{attribute2,jdbcType=VARCHAR},
      ATTRIBUTE3 = #{attribute3,jdbcType=VARCHAR},
      ATTRIBUTE4 = #{attribute4,jdbcType=VARCHAR},
      ATTRIBUTE5 = #{attribute5,jdbcType=VARCHAR}
    where PRODUCT_ID = #{productId,jdbcType=INTEGER}
  </update>
</mapper>