<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="autotest.com.bocom.dao.ItasRunMapper">
  <resultMap id="BaseResultMap" type="autotest.com.bocom.entity.ItasRun">
    <id column="RUN_ID" jdbcType="INTEGER" property="runId" />
    <result column="TASK_ID" jdbcType="INTEGER" property="taskId" />
    <result column="TASK_TYPE" jdbcType="CHAR" property="taskType" />
    <result column="CASE_TYPE" jdbcType="CHAR" property="caseType" />
    <result column="CASE_ID" jdbcType="INTEGER" property="caseId" />
    <result column="CASE_RUN_ID" jdbcType="INTEGER" property="caseRunId" />
    <result column="RUN_TIMES" jdbcType="INTEGER" property="runTimes" />
    <result column="RUN_STATUS" jdbcType="CHAR" property="runStatus" />
    <result column="RUN_DURATION" jdbcType="INTEGER" property="runDuration" />
    <result column="RUN_START" jdbcType="TIMESTAMP" property="runStart" />
    <result column="RUN_OVER" jdbcType="TIMESTAMP" property="runOver" />
    <result column="RUN_ENGINE" jdbcType="VARCHAR" property="runEngine" />
    <result column="RUN_TESTER" jdbcType="VARCHAR" property="runTester" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="TIME_CREATED" jdbcType="TIMESTAMP" property="timeCreated" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    RUN_ID, TASK_ID, TASK_TYPE, CASE_TYPE, CASE_ID, CASE_RUN_ID, RUN_TIMES, RUN_STATUS, 
    RUN_DURATION, RUN_START, RUN_OVER, RUN_ENGINE, RUN_TESTER, CREATOR, TIME_CREATED
  </sql>
  <select id="selectByExample" parameterType="autotest.com.bocom.entity.ItasRunExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from ITAS_RUN
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ITAS_RUN
    where RUN_ID = #{runId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ITAS_RUN
    where RUN_ID = #{runId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="autotest.com.bocom.entity.ItasRunExample">
    delete from ITAS_RUN
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="autotest.com.bocom.entity.ItasRun">
    insert into ITAS_RUN (RUN_ID, TASK_ID, TASK_TYPE, 
      CASE_TYPE, CASE_ID, CASE_RUN_ID, 
      RUN_TIMES, RUN_STATUS, RUN_DURATION, 
      RUN_START, RUN_OVER, RUN_ENGINE, 
      RUN_TESTER, CREATOR, TIME_CREATED
      )
    values (#{runId,jdbcType=INTEGER}, #{taskId,jdbcType=INTEGER}, #{taskType,jdbcType=CHAR}, 
      #{caseType,jdbcType=CHAR}, #{caseId,jdbcType=INTEGER}, #{caseRunId,jdbcType=INTEGER}, 
      #{runTimes,jdbcType=INTEGER}, #{runStatus,jdbcType=CHAR}, #{runDuration,jdbcType=INTEGER}, 
      #{runStart,jdbcType=TIMESTAMP}, #{runOver,jdbcType=TIMESTAMP}, #{runEngine,jdbcType=VARCHAR}, 
      #{runTester,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{timeCreated,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="autotest.com.bocom.entity.ItasRun">
    insert into ITAS_RUN
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="runId != null">
        RUN_ID,
      </if>
      <if test="taskId != null">
        TASK_ID,
      </if>
      <if test="taskType != null">
        TASK_TYPE,
      </if>
      <if test="caseType != null">
        CASE_TYPE,
      </if>
      <if test="caseId != null">
        CASE_ID,
      </if>
      <if test="caseRunId != null">
        CASE_RUN_ID,
      </if>
      <if test="runTimes != null">
        RUN_TIMES,
      </if>
      <if test="runStatus != null">
        RUN_STATUS,
      </if>
      <if test="runDuration != null">
        RUN_DURATION,
      </if>
      <if test="runStart != null">
        RUN_START,
      </if>
      <if test="runOver != null">
        RUN_OVER,
      </if>
      <if test="runEngine != null">
        RUN_ENGINE,
      </if>
      <if test="runTester != null">
        RUN_TESTER,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="timeCreated != null">
        TIME_CREATED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="runId != null">
        #{runId,jdbcType=INTEGER},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=INTEGER},
      </if>
      <if test="taskType != null">
        #{taskType,jdbcType=CHAR},
      </if>
      <if test="caseType != null">
        #{caseType,jdbcType=CHAR},
      </if>
      <if test="caseId != null">
        #{caseId,jdbcType=INTEGER},
      </if>
      <if test="caseRunId != null">
        #{caseRunId,jdbcType=INTEGER},
      </if>
      <if test="runTimes != null">
        #{runTimes,jdbcType=INTEGER},
      </if>
      <if test="runStatus != null">
        #{runStatus,jdbcType=CHAR},
      </if>
      <if test="runDuration != null">
        #{runDuration,jdbcType=INTEGER},
      </if>
      <if test="runStart != null">
        #{runStart,jdbcType=TIMESTAMP},
      </if>
      <if test="runOver != null">
        #{runOver,jdbcType=TIMESTAMP},
      </if>
      <if test="runEngine != null">
        #{runEngine,jdbcType=VARCHAR},
      </if>
      <if test="runTester != null">
        #{runTester,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="timeCreated != null">
        #{timeCreated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="autotest.com.bocom.entity.ItasRunExample" resultType="java.lang.Long">
    select count(*) from ITAS_RUN
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ITAS_RUN
    <set>
      <if test="record.runId != null">
        RUN_ID = #{record.runId,jdbcType=INTEGER},
      </if>
      <if test="record.taskId != null">
        TASK_ID = #{record.taskId,jdbcType=INTEGER},
      </if>
      <if test="record.taskType != null">
        TASK_TYPE = #{record.taskType,jdbcType=CHAR},
      </if>
      <if test="record.caseType != null">
        CASE_TYPE = #{record.caseType,jdbcType=CHAR},
      </if>
      <if test="record.caseId != null">
        CASE_ID = #{record.caseId,jdbcType=INTEGER},
      </if>
      <if test="record.caseRunId != null">
        CASE_RUN_ID = #{record.caseRunId,jdbcType=INTEGER},
      </if>
      <if test="record.runTimes != null">
        RUN_TIMES = #{record.runTimes,jdbcType=INTEGER},
      </if>
      <if test="record.runStatus != null">
        RUN_STATUS = #{record.runStatus,jdbcType=CHAR},
      </if>
      <if test="record.runDuration != null">
        RUN_DURATION = #{record.runDuration,jdbcType=INTEGER},
      </if>
      <if test="record.runStart != null">
        RUN_START = #{record.runStart,jdbcType=TIMESTAMP},
      </if>
      <if test="record.runOver != null">
        RUN_OVER = #{record.runOver,jdbcType=TIMESTAMP},
      </if>
      <if test="record.runEngine != null">
        RUN_ENGINE = #{record.runEngine,jdbcType=VARCHAR},
      </if>
      <if test="record.runTester != null">
        RUN_TESTER = #{record.runTester,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null">
        CREATOR = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.timeCreated != null">
        TIME_CREATED = #{record.timeCreated,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ITAS_RUN
    set RUN_ID = #{record.runId,jdbcType=INTEGER},
      TASK_ID = #{record.taskId,jdbcType=INTEGER},
      TASK_TYPE = #{record.taskType,jdbcType=CHAR},
      CASE_TYPE = #{record.caseType,jdbcType=CHAR},
      CASE_ID = #{record.caseId,jdbcType=INTEGER},
      CASE_RUN_ID = #{record.caseRunId,jdbcType=INTEGER},
      RUN_TIMES = #{record.runTimes,jdbcType=INTEGER},
      RUN_STATUS = #{record.runStatus,jdbcType=CHAR},
      RUN_DURATION = #{record.runDuration,jdbcType=INTEGER},
      RUN_START = #{record.runStart,jdbcType=TIMESTAMP},
      RUN_OVER = #{record.runOver,jdbcType=TIMESTAMP},
      RUN_ENGINE = #{record.runEngine,jdbcType=VARCHAR},
      RUN_TESTER = #{record.runTester,jdbcType=VARCHAR},
      CREATOR = #{record.creator,jdbcType=VARCHAR},
      TIME_CREATED = #{record.timeCreated,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="autotest.com.bocom.entity.ItasRun">
    update ITAS_RUN
    <set>
      <if test="taskId != null">
        TASK_ID = #{taskId,jdbcType=INTEGER},
      </if>
      <if test="taskType != null">
        TASK_TYPE = #{taskType,jdbcType=CHAR},
      </if>
      <if test="caseType != null">
        CASE_TYPE = #{caseType,jdbcType=CHAR},
      </if>
      <if test="caseId != null">
        CASE_ID = #{caseId,jdbcType=INTEGER},
      </if>
      <if test="caseRunId != null">
        CASE_RUN_ID = #{caseRunId,jdbcType=INTEGER},
      </if>
      <if test="runTimes != null">
        RUN_TIMES = #{runTimes,jdbcType=INTEGER},
      </if>
      <if test="runStatus != null">
        RUN_STATUS = #{runStatus,jdbcType=CHAR},
      </if>
      <if test="runDuration != null">
        RUN_DURATION = #{runDuration,jdbcType=INTEGER},
      </if>
      <if test="runStart != null">
        RUN_START = #{runStart,jdbcType=TIMESTAMP},
      </if>
      <if test="runOver != null">
        RUN_OVER = #{runOver,jdbcType=TIMESTAMP},
      </if>
      <if test="runEngine != null">
        RUN_ENGINE = #{runEngine,jdbcType=VARCHAR},
      </if>
      <if test="runTester != null">
        RUN_TESTER = #{runTester,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="timeCreated != null">
        TIME_CREATED = #{timeCreated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where RUN_ID = #{runId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="autotest.com.bocom.entity.ItasRun">
    update ITAS_RUN
    set TASK_ID = #{taskId,jdbcType=INTEGER},
      TASK_TYPE = #{taskType,jdbcType=CHAR},
      CASE_TYPE = #{caseType,jdbcType=CHAR},
      CASE_ID = #{caseId,jdbcType=INTEGER},
      CASE_RUN_ID = #{caseRunId,jdbcType=INTEGER},
      RUN_TIMES = #{runTimes,jdbcType=INTEGER},
      RUN_STATUS = #{runStatus,jdbcType=CHAR},
      RUN_DURATION = #{runDuration,jdbcType=INTEGER},
      RUN_START = #{runStart,jdbcType=TIMESTAMP},
      RUN_OVER = #{runOver,jdbcType=TIMESTAMP},
      RUN_ENGINE = #{runEngine,jdbcType=VARCHAR},
      RUN_TESTER = #{runTester,jdbcType=VARCHAR},
      CREATOR = #{creator,jdbcType=VARCHAR},
      TIME_CREATED = #{timeCreated,jdbcType=TIMESTAMP}
    where RUN_ID = #{runId,jdbcType=INTEGER}
  </update>
</mapper>