<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="autotest.com.bocom.dao.ItasDictionaryMapper">
  <resultMap id="BaseResultMap" type="autotest.com.bocom.entity.ItasDictionary">
    <id column="DICT_ID" jdbcType="INTEGER" property="dictId" />
    <result column="DICT_NATURE" jdbcType="CHAR" property="dictNature" />
    <result column="DICT_PID" jdbcType="INTEGER" property="dictPid" />
    <result column="SYSTEM_ID" jdbcType="INTEGER" property="systemId" />
    <result column="DICT_CODE" jdbcType="VARCHAR" property="dictCode" />
    <result column="DICT_NAME" jdbcType="VARCHAR" property="dictName" />
    <result column="DICT_TYPE" jdbcType="CHAR" property="dictType" />
    <result column="DICT_STATUS" jdbcType="CHAR" property="dictStatus" />
    <result column="DICT_DESC" jdbcType="VARCHAR" property="dictDesc" />
    <result column="CREATOR" jdbcType="INTEGER" property="creator" />
    <result column="REVISER" jdbcType="INTEGER" property="reviser" />
    <result column="TIME_CREATED" jdbcType="TIMESTAMP" property="timeCreated" />
    <result column="TIME_REVISED" jdbcType="TIMESTAMP" property="timeRevised" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="autotest.com.bocom.entity.ItasDictionary">
    <result column="DICT_CPX" jdbcType="LONGVARCHAR" property="dictCpx" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    DICT_ID, DICT_NATURE, DICT_PID, SYSTEM_ID, DICT_CODE, DICT_NAME, DICT_TYPE, DICT_STATUS, 
    DICT_DESC, CREATOR, REVISER, TIME_CREATED, TIME_REVISED
  </sql>
  <sql id="Blob_Column_List">
    DICT_CPX
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="autotest.com.bocom.entity.ItasDictionaryExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ITAS_DICTIONARY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="autotest.com.bocom.entity.ItasDictionaryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from ITAS_DICTIONARY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ITAS_DICTIONARY
    where DICT_ID = #{dictId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ITAS_DICTIONARY
    where DICT_ID = #{dictId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="autotest.com.bocom.entity.ItasDictionaryExample">
    delete from ITAS_DICTIONARY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="autotest.com.bocom.entity.ItasDictionary">
    insert into ITAS_DICTIONARY (DICT_ID, DICT_NATURE, DICT_PID, 
      SYSTEM_ID, DICT_CODE, DICT_NAME, 
      DICT_TYPE, DICT_STATUS, DICT_DESC, 
      CREATOR, REVISER, TIME_CREATED, 
      TIME_REVISED, DICT_CPX)
    values (#{dictId,jdbcType=INTEGER}, #{dictNature,jdbcType=CHAR}, #{dictPid,jdbcType=INTEGER}, 
      #{systemId,jdbcType=INTEGER}, #{dictCode,jdbcType=VARCHAR}, #{dictName,jdbcType=VARCHAR}, 
      #{dictType,jdbcType=CHAR}, #{dictStatus,jdbcType=CHAR}, #{dictDesc,jdbcType=VARCHAR}, 
      #{creator,jdbcType=INTEGER}, #{reviser,jdbcType=INTEGER}, #{timeCreated,jdbcType=TIMESTAMP}, 
      #{timeRevised,jdbcType=TIMESTAMP}, #{dictCpx,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="autotest.com.bocom.entity.ItasDictionary">
    insert into ITAS_DICTIONARY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dictId != null">
        DICT_ID,
      </if>
      <if test="dictNature != null">
        DICT_NATURE,
      </if>
      <if test="dictPid != null">
        DICT_PID,
      </if>
      <if test="systemId != null">
        SYSTEM_ID,
      </if>
      <if test="dictCode != null">
        DICT_CODE,
      </if>
      <if test="dictName != null">
        DICT_NAME,
      </if>
      <if test="dictType != null">
        DICT_TYPE,
      </if>
      <if test="dictStatus != null">
        DICT_STATUS,
      </if>
      <if test="dictDesc != null">
        DICT_DESC,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="reviser != null">
        REVISER,
      </if>
      <if test="timeCreated != null">
        TIME_CREATED,
      </if>
      <if test="timeRevised != null">
        TIME_REVISED,
      </if>
      <if test="dictCpx != null">
        DICT_CPX,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dictId != null">
        #{dictId,jdbcType=INTEGER},
      </if>
      <if test="dictNature != null">
        #{dictNature,jdbcType=CHAR},
      </if>
      <if test="dictPid != null">
        #{dictPid,jdbcType=INTEGER},
      </if>
      <if test="systemId != null">
        #{systemId,jdbcType=INTEGER},
      </if>
      <if test="dictCode != null">
        #{dictCode,jdbcType=VARCHAR},
      </if>
      <if test="dictName != null">
        #{dictName,jdbcType=VARCHAR},
      </if>
      <if test="dictType != null">
        #{dictType,jdbcType=CHAR},
      </if>
      <if test="dictStatus != null">
        #{dictStatus,jdbcType=CHAR},
      </if>
      <if test="dictDesc != null">
        #{dictDesc,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="reviser != null">
        #{reviser,jdbcType=INTEGER},
      </if>
      <if test="timeCreated != null">
        #{timeCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="timeRevised != null">
        #{timeRevised,jdbcType=TIMESTAMP},
      </if>
      <if test="dictCpx != null">
        #{dictCpx,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="autotest.com.bocom.entity.ItasDictionaryExample" resultType="java.lang.Long">
    select count(*) from ITAS_DICTIONARY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ITAS_DICTIONARY
    <set>
      <if test="record.dictId != null">
        DICT_ID = #{record.dictId,jdbcType=INTEGER},
      </if>
      <if test="record.dictNature != null">
        DICT_NATURE = #{record.dictNature,jdbcType=CHAR},
      </if>
      <if test="record.dictPid != null">
        DICT_PID = #{record.dictPid,jdbcType=INTEGER},
      </if>
      <if test="record.systemId != null">
        SYSTEM_ID = #{record.systemId,jdbcType=INTEGER},
      </if>
      <if test="record.dictCode != null">
        DICT_CODE = #{record.dictCode,jdbcType=VARCHAR},
      </if>
      <if test="record.dictName != null">
        DICT_NAME = #{record.dictName,jdbcType=VARCHAR},
      </if>
      <if test="record.dictType != null">
        DICT_TYPE = #{record.dictType,jdbcType=CHAR},
      </if>
      <if test="record.dictStatus != null">
        DICT_STATUS = #{record.dictStatus,jdbcType=CHAR},
      </if>
      <if test="record.dictDesc != null">
        DICT_DESC = #{record.dictDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null">
        CREATOR = #{record.creator,jdbcType=INTEGER},
      </if>
      <if test="record.reviser != null">
        REVISER = #{record.reviser,jdbcType=INTEGER},
      </if>
      <if test="record.timeCreated != null">
        TIME_CREATED = #{record.timeCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.timeRevised != null">
        TIME_REVISED = #{record.timeRevised,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dictCpx != null">
        DICT_CPX = #{record.dictCpx,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update ITAS_DICTIONARY
    set DICT_ID = #{record.dictId,jdbcType=INTEGER},
      DICT_NATURE = #{record.dictNature,jdbcType=CHAR},
      DICT_PID = #{record.dictPid,jdbcType=INTEGER},
      SYSTEM_ID = #{record.systemId,jdbcType=INTEGER},
      DICT_CODE = #{record.dictCode,jdbcType=VARCHAR},
      DICT_NAME = #{record.dictName,jdbcType=VARCHAR},
      DICT_TYPE = #{record.dictType,jdbcType=CHAR},
      DICT_STATUS = #{record.dictStatus,jdbcType=CHAR},
      DICT_DESC = #{record.dictDesc,jdbcType=VARCHAR},
      CREATOR = #{record.creator,jdbcType=INTEGER},
      REVISER = #{record.reviser,jdbcType=INTEGER},
      TIME_CREATED = #{record.timeCreated,jdbcType=TIMESTAMP},
      TIME_REVISED = #{record.timeRevised,jdbcType=TIMESTAMP},
      DICT_CPX = #{record.dictCpx,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ITAS_DICTIONARY
    set DICT_ID = #{record.dictId,jdbcType=INTEGER},
      DICT_NATURE = #{record.dictNature,jdbcType=CHAR},
      DICT_PID = #{record.dictPid,jdbcType=INTEGER},
      SYSTEM_ID = #{record.systemId,jdbcType=INTEGER},
      DICT_CODE = #{record.dictCode,jdbcType=VARCHAR},
      DICT_NAME = #{record.dictName,jdbcType=VARCHAR},
      DICT_TYPE = #{record.dictType,jdbcType=CHAR},
      DICT_STATUS = #{record.dictStatus,jdbcType=CHAR},
      DICT_DESC = #{record.dictDesc,jdbcType=VARCHAR},
      CREATOR = #{record.creator,jdbcType=INTEGER},
      REVISER = #{record.reviser,jdbcType=INTEGER},
      TIME_CREATED = #{record.timeCreated,jdbcType=TIMESTAMP},
      TIME_REVISED = #{record.timeRevised,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="autotest.com.bocom.entity.ItasDictionary">
    update ITAS_DICTIONARY
    <set>
      <if test="dictNature != null">
        DICT_NATURE = #{dictNature,jdbcType=CHAR},
      </if>
      <if test="dictPid != null">
        DICT_PID = #{dictPid,jdbcType=INTEGER},
      </if>
      <if test="systemId != null">
        SYSTEM_ID = #{systemId,jdbcType=INTEGER},
      </if>
      <if test="dictCode != null">
        DICT_CODE = #{dictCode,jdbcType=VARCHAR},
      </if>
      <if test="dictName != null">
        DICT_NAME = #{dictName,jdbcType=VARCHAR},
      </if>
      <if test="dictType != null">
        DICT_TYPE = #{dictType,jdbcType=CHAR},
      </if>
      <if test="dictStatus != null">
        DICT_STATUS = #{dictStatus,jdbcType=CHAR},
      </if>
      <if test="dictDesc != null">
        DICT_DESC = #{dictDesc,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        CREATOR = #{creator,jdbcType=INTEGER},
      </if>
      <if test="reviser != null">
        REVISER = #{reviser,jdbcType=INTEGER},
      </if>
      <if test="timeCreated != null">
        TIME_CREATED = #{timeCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="timeRevised != null">
        TIME_REVISED = #{timeRevised,jdbcType=TIMESTAMP},
      </if>
      <if test="dictCpx != null">
        DICT_CPX = #{dictCpx,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where DICT_ID = #{dictId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="autotest.com.bocom.entity.ItasDictionary">
    update ITAS_DICTIONARY
    set DICT_NATURE = #{dictNature,jdbcType=CHAR},
      DICT_PID = #{dictPid,jdbcType=INTEGER},
      SYSTEM_ID = #{systemId,jdbcType=INTEGER},
      DICT_CODE = #{dictCode,jdbcType=VARCHAR},
      DICT_NAME = #{dictName,jdbcType=VARCHAR},
      DICT_TYPE = #{dictType,jdbcType=CHAR},
      DICT_STATUS = #{dictStatus,jdbcType=CHAR},
      DICT_DESC = #{dictDesc,jdbcType=VARCHAR},
      CREATOR = #{creator,jdbcType=INTEGER},
      REVISER = #{reviser,jdbcType=INTEGER},
      TIME_CREATED = #{timeCreated,jdbcType=TIMESTAMP},
      TIME_REVISED = #{timeRevised,jdbcType=TIMESTAMP},
      DICT_CPX = #{dictCpx,jdbcType=LONGVARCHAR}
    where DICT_ID = #{dictId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="autotest.com.bocom.entity.ItasDictionary">
    update ITAS_DICTIONARY
    set DICT_NATURE = #{dictNature,jdbcType=CHAR},
      DICT_PID = #{dictPid,jdbcType=INTEGER},
      SYSTEM_ID = #{systemId,jdbcType=INTEGER},
      DICT_CODE = #{dictCode,jdbcType=VARCHAR},
      DICT_NAME = #{dictName,jdbcType=VARCHAR},
      DICT_TYPE = #{dictType,jdbcType=CHAR},
      DICT_STATUS = #{dictStatus,jdbcType=CHAR},
      DICT_DESC = #{dictDesc,jdbcType=VARCHAR},
      CREATOR = #{creator,jdbcType=INTEGER},
      REVISER = #{reviser,jdbcType=INTEGER},
      TIME_CREATED = #{timeCreated,jdbcType=TIMESTAMP},
      TIME_REVISED = #{timeRevised,jdbcType=TIMESTAMP}
    where DICT_ID = #{dictId,jdbcType=INTEGER}
  </update>
</mapper>