<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="autotest.com.bocom.dao.ItasInterfaceSubTaskMapper">
  <resultMap id="BaseResultMap" type="autotest.com.bocom.entity.ItasInterfaceSubTask">
    <id column="SUB_TASK_ID" jdbcType="INTEGER" property="subTaskId" />
    <result column="TASK_ID" jdbcType="INTEGER" property="taskId" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="CTEATE_TIME" jdbcType="TIMESTAMP" property="cteateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    SUB_TASK_ID, TASK_ID, STATUS, CTEATE_TIME
  </sql>
  <select id="selectByExample" parameterType="autotest.com.bocom.entity.ItasInterfaceSubTaskExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from ITAS_INTERFACE_SUB_TASK
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ITAS_INTERFACE_SUB_TASK
    where SUB_TASK_ID = #{subTaskId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ITAS_INTERFACE_SUB_TASK
    where SUB_TASK_ID = #{subTaskId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="autotest.com.bocom.entity.ItasInterfaceSubTaskExample">
    delete from ITAS_INTERFACE_SUB_TASK
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="autotest.com.bocom.entity.ItasInterfaceSubTask">
    insert into ITAS_INTERFACE_SUB_TASK (SUB_TASK_ID, TASK_ID, STATUS, 
      CTEATE_TIME)
    values (#{subTaskId,jdbcType=INTEGER}, #{taskId,jdbcType=INTEGER}, #{status,jdbcType=CHAR}, 
      #{cteateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="autotest.com.bocom.entity.ItasInterfaceSubTask">
    insert into ITAS_INTERFACE_SUB_TASK
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="subTaskId != null">
        SUB_TASK_ID,
      </if>
      <if test="taskId != null">
        TASK_ID,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="cteateTime != null">
        CTEATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="subTaskId != null">
        #{subTaskId,jdbcType=INTEGER},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="cteateTime != null">
        #{cteateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="autotest.com.bocom.entity.ItasInterfaceSubTaskExample" resultType="java.lang.Long">
    select count(*) from ITAS_INTERFACE_SUB_TASK
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ITAS_INTERFACE_SUB_TASK
    <set>
      <if test="record.subTaskId != null">
        SUB_TASK_ID = #{record.subTaskId,jdbcType=INTEGER},
      </if>
      <if test="record.taskId != null">
        TASK_ID = #{record.taskId,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.cteateTime != null">
        CTEATE_TIME = #{record.cteateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ITAS_INTERFACE_SUB_TASK
    set SUB_TASK_ID = #{record.subTaskId,jdbcType=INTEGER},
      TASK_ID = #{record.taskId,jdbcType=INTEGER},
      STATUS = #{record.status,jdbcType=CHAR},
      CTEATE_TIME = #{record.cteateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="autotest.com.bocom.entity.ItasInterfaceSubTask">
    update ITAS_INTERFACE_SUB_TASK
    <set>
      <if test="taskId != null">
        TASK_ID = #{taskId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="cteateTime != null">
        CTEATE_TIME = #{cteateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where SUB_TASK_ID = #{subTaskId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="autotest.com.bocom.entity.ItasInterfaceSubTask">
    update ITAS_INTERFACE_SUB_TASK
    set TASK_ID = #{taskId,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=CHAR},
      CTEATE_TIME = #{cteateTime,jdbcType=TIMESTAMP}
    where SUB_TASK_ID = #{subTaskId,jdbcType=INTEGER}
  </update>
</mapper>